experiments/
advdae/
fairseq*
fsgec/
datasets/*
*.bak/*
*.h5py
*.h5
*.pt
nogit/*
.idea/
*.hjson
.vscode/*
**/__pycache__/*
*.logs/*
*.pstat
*.prof
*.tbz
*.tgz
*.zip
*.rar
saved/*
universal-triggers-master/
.ipynb_checkpoints
glue_data/* 
awesome_siamese/*
ipynbs/*
fshub.py
hack_fairseq.py
